# Policy
MIN_DELTA=0.003
COOLDOWN_HOURS=12
CAP_PER_PROTOCOL=0.6
DEFAULT_MOVE_USD=25000


# Chain
ROUTER_ADDRESS=0xYourArcTestnetRouter
ARC_RPC_URL=https://rpc.arc-testnet.example
KEEPER_PK=0xYourTestPrivateKey